:root{
    --dark-jungle-green: #00100B;
    --ghost-white: #F7F7FF;
    --sunglow: #FFD23F;
    --blue-green: #07A0C3;
    --paradise-pink: #EE4266;
}

body{
    background: var(--dark-jungle-green);
    color: var(--ghost-white);
}