@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --dark-jungle-green: #00100B;
    --ghost-white: #F7F7FF;
    --sunglow: #FFD23F;
    --blue-green: #07A0C3;
    --paradise-pink: #EB3349;
    --darklategray: #363636;
    --darklatesgray: #2c2c2c;
    --prussian-blue: #1C3144;
    --main-gradien: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), 
                    linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    --button-gradien: linear-gradient(to right, #ffd23f 0%, #ffcc33  51%, #ffb347  100%);
    --sketch-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --mobile-container: 95%;
    --tablet-container: 90%;
    --laptop-container: 80%;
    --poppins: 'Poppins', sans-serif;;
}

*{
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-indent: 0;
    line-height: 1;
    word-spacing: normal;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-family: var(--poppins);
    color: unset;
}

/*Media Queries*/
@media (min-width:320px) and (max-width: 425px){ /*Mobile*/
    h1{
        font-size: 2.2rem;
        color: var(--ghost-white);
    }
    h5{
        font-size: 1rem;
        color: var(--ghost-white);
    }
    p, a, *::placeholder{
        font-size: 0.9rem;
        color: var(--ghost-white);
    }
    .container{
        width: var(--mobile-container);
        margin: auto;
    }
}
@media screen and (min-width: 425px){ /*Tablet*/
    h1{
        font-size: 2.7rem;
        color: var(--ghost-white);
    }
    h5{
        font-size: 1.3rem;
        color: var(--ghost-white);
    }
    p, a, *::placeholder{
        color: var(--ghost-white);
    }
    .container{
        width: var(--tablet-container);
        margin: auto;
        color: var(--ghost-white);
    }
}
@media screen and (min-width: 768px) { /*Laptop*/
    h1{
        font-size: 4rem;
        line-height: 1.35;
        color: var(--ghost-white);
    }
    
    h5{
        font-size: 1.3rem;
        line-height: 1.05;
        color: var(--ghost-white);
    }
    
    p, a, *::placeholder{
        font-size: 1rem;
        line-height: 1.5;
        color: var(--ghost-white);
    }
    .container{
        width: var(--laptop-container);
        margin: auto;
        color: var(--ghost-white);
    }
}
@media screen and (min-width: 1600px) { /*4K*/
    h1{
        font-size: 5rem;
        color: var(--ghost-white);
    }
    h5{
        font-size: 3rem;
        color: var(--ghost-white);
    }
    p, a, *::placeholder{
        font-size: 1.7rem;
        color: var(--ghost-white);
    }
    .container{
        width: var(--laptop-container);
        margin: auto;
    }
}