header#hero{
    position: relative;
    top: 70px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--main-gradien);
    background-blend-mode: multiply;
}

.container__header{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
}

.main{
    grid-column-start:span 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    font-family: var(--poppins);
}

.image{
    align-self: end;
    grid-column-start: 3;
    grid-column-end: 4;
}

.image > img{
    width: 100%;
    height: auto;
}

.main > h5, span.warn{
    text-transform: uppercase;
}

span.warn{
    color: var(--paradise-pink);
}

span.focus{
    color: var(--sunglow);
}

.main > p{
    width: fit-content;
    margin-top: 1em;
    text-transform: initial;
}

@media (min-width:320px) and (max-width: 425px){ /*Mobile*/
    header#hero{
        top: 60px;
    }
    .container__header{
        gap: 1em;
    }
    .main{
        grid-column-start: span 3;
    }
    .image{
        display: none;
    }
}
@media screen and (min-width: 425px) and (max-width:768px){ /*Tablet*/
    header#hero{
        top: 70px;
    }
    .container__header{
        gap: 1em;
        padding: 1em 0em;
    }
    .main{
        grid-column-start: span 3;
    }
    .image{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width:1150px) { /*Some Tablet or Laptop*/
    .container__header{
        gap: 2em;
    }
    .main{
        grid-column-start: span 3;
    }
    .image{
        display: none;
    }
}