header#hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--main-gradien);
    background-blend-mode: multiply;
}

.container__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    font-family: var(--poppins);
}
h5, span.warn{
    text-transform: uppercase;
}

span.warn{
    color: var(--paradise-pink);
}

span.focus{
    color: var(--sunglow);
}

.main > p{
    width: fit-content;
    margin-top: 1.5em;
    text-transform: initial;
}

.image > img{
    width: 100%;
    height: auto;
}  

@media (min-width:320px) and (max-width: 425px){ /*Mobile*/
    .container__header{
        gap: 1em;
    }
    .main, .image{
        width: fit-content;
    }
    .image > img{
        display: none;
    }
}
@media screen and (min-width: 425px){ /*Tablet*/
    header#hero{ 
        /*Damn we had to use positioning here huh*/
        position: relative;
        top: 4em;
        z-index: 1;
    }
    .container__header{
        gap: 2em;
        padding: 1em 0em;
    }
    .main{
        width: 100%;
    }
    .image{
        align-self: flex-end;
        margin: auto;
        width: 60%;
        height: auto;
    }
}
@media screen and (min-width: 768px) { /*Laptop*/
    .container__header{
        flex-direction: row;
        gap: 5em;
        justify-content: space-between;
        align-items: center;
    }
    .main{
        width: 60%;
    }
    .image{
        width: 35%;
        align-self: flex-end;
    }
}