nav#navbar{
    width: 100%;
    height: 70px;
    /* position: fixed; */
    position: absolute;
    background-color: transparent;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0em 2em;
}

.navbar-logo{
    width: 40px;
    cursor: pointer;
}

.menu-icon{
    display: none;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 2em;
}

a.nav-links:hover{
    border-bottom: 1.5px solid var(--button-primary-color);
    transition: all 0.1s ease-out;
}

.button{
    padding: 0.6em 1.7em;
    margin-left: 1em;
    border-radius: 0.2em;
    transition: all ease-out 0.2s;
    background-image: var(--button-gradien);
    background-size: 200% auto;
}

.button:hover {
    background-position: right center;
}

@media (min-width:320px) and (max-width: 425px){ /*Mobile*/
    nav#navbar{
        height: 60px;
    }
    .menu-icon{
        display: block;
    }
    .nav-menu{
        background-color: var(--darklategray);
        width: 100%;
        flex-direction: column;
        position: fixed;
        z-index: 2;
        top: 60px;
        right: -100%;
        padding: 1em;
        transition: all 0.5s ease-in-out;
    }
    .nav-menu.active{
        right: 0%;
    }
    a.nav-links:hover{
        border-bottom: none;
    }
    .button{
        width: fit-content;
        margin: 0;
        background-image: none;
        background-size: initial;
    }
    .button:hover {
        background-position: initial;
    }
}
@media (min-width: 425px) and (max-width: 550px){ /*Some Mobile or Tablet*/
    .menu-icon{
        display: block;
    }
    .nav-menu{
        background-color: var(--darklategray);
        width: 100%;
        flex-direction: column;
        position: fixed;
        z-index: 2;
        top: 70px;
        right: -100%;
        padding: 1em;
        transition: all 0.5s ease-in-out;
    }
    a.nav-menu.active{
        right: 0%;
    }
    .nav-links:hover{
        border-bottom: none;
    }
    .button{
        width: fit-content;
        margin: 0;
        background-image: none;
        background-size: initial;
    }
    .button:hover {
        background-position: initial;
    }
}
@media screen and (min-width: 1600px) { /*4K*/
    nav#navbar{
        padding: 3.5em 4em;
    }
    .navbar-logo{
        width: 3.2%;
    }
}