section#service{
    width: 100%;
    padding: 1em 0em;
    height: fit-content;
    overflow: hidden;
    background-color: var(--super-dark-main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.container__service{
    width: 90%;
    height: fit-content;
    background-color: var(--secondary-color);
    padding: 2em;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.service-header{
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
}

.post-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post{
    padding-right: 1em;
}

.post-box{
    display: flex !important;
    flex-direction: column !important;
    gap: 0.5em !important;
    border-radius: 0.2em;
    background-color: var(--super-dark-main-color);
}

figure{
    overflow: hidden;
}

.post-image figure img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    cursor: pointer;
    object-fit: cover;
}

.post-image figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.post-detail{
    margin: 1em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.post-location{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.location-icon{
    color: var(--ghost-white);
}

.post-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-price > .button{
    margin-left: 0em;
    width: fit-content;
    padding: 0.5em 1.2em;
}

.arrow{
    font-size: 3rem;
    color: var(--ghost-white);
}

@media (min-width:320px) and (max-width: 425px){ /*Mobile*/
    .container__service{
        gap: 1em;
    }
    .post{
        padding-right: 0;
    }
    .post-image figure img {
        height: 150px;
    }
    .post-detail{
        margin: 1em;
    }
    .post-price{
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
    }
    .post-price > .button{
        align-self: flex-end;
        margin-left: 0em;
        width: fit-content;
        padding: 0.6em 0.9em;
        transition: all ease-out 0.2s;
        background-image: var(--button-gradien);
        background-size: 200% auto;
    }
    .arrow{
        font-size: 6rem;
    }
}
@media screen and (min-width: 425px) and (max-width: 700px){ /*Some Tablet*/
    .post-price > .button{
        align-self: flex-end;
        margin-left: 0em;
        width: fit-content;
        padding: 0.6em 0.9em;
        transition: all ease-out 0.2s;
        background-image: var(--button-gradien);
        background-size: 200% auto;
    }
    .arrow{
        font-size: 6rem;
    }
}
@media screen and (min-width: 768px) { /*Laptop*/
    .service-header > p{
        width: 70ch;
    }
}
@media screen and (min-width: 1600px) { /*4K*/
    .post-image figure img {
        height: 450px;
    }
    .arrow{
        font-size: 4rem;
    }
}