section#howItWorks{
    width: 80vw;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 0.2em;
    background-color: var(--light-main-color);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em 5em;
}

.how-it-works{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.how-it-works > h2{
    width: 40%;
}

.how-it-works > p{
    width: 40%;

}

.how-it-works-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    gap: 2em;
}

.how-it-works-box{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 2em;
    border: 2px solid;
    background-image: var(--gradien-two);
    border-image: var(--border-gradien);
}

.how-it-works-box > h5{
    margin-top: 0.5em;
    text-transform: initial;
}

.how-it-works-icon{
    width: 70px;
}

@media (min-width:320px) and (max-width: 42px){ /*Mobile*/
    section#howItWorks{
        width: auto;
        position: initial;
        padding: 1em 0em;
        grid-column-end: unset;
        gap: 1em;
    }
    .how-it-works{
        flex-direction: column;
        gap: 1em;
    }
    .how-it-works > h2, .how-it-works > p{
        width: 100%;
    }
    .how-it-works-grid{
        grid-template-columns: 1fr;
        gap: 1em;
    }
    .how-it-works-box{
        padding: 1em 1.3em;
    }
}
@media (min-width:427px) and (max-width:1030px) { /*Tablet*/
    section#howItWorks{
        width: 90%;
        position: initial;
        padding: 1em 0em;
        grid-column-end: 4;
        gap: 1em;
    }
    .how-it-works > h2{
        width: 40%;
    }
    .how-it-works > p{
        width: 60%;
    }
    .how-it-works-box{
        padding: 0em;
    }
    .how-it-works-grid{
        grid-template-columns: 1fr;
        gap: 1em;
    }
    .how-it-works-box{
        padding: 1em 1.3em;
    }
}