section#contact{
    background-color: var(--secondary-color);
    height: fit-content;
    overflow: hidden;
    padding-top: 20px;
}
.gray-scale{
    cursor: pointer;
    width: fit-content;
    height: 70px;
    filter: grayscale(100%);
}

.footer-logo{
    width: 60px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.contact-grid{
    display: grid;
    /* padding: 1em; */
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "company company company company company company company"
                         "workwith workwith workwith workwith form form form";
}

.company-grid{
    grid-area: company;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0em 1em;
    column-gap: 1em;
    justify-items: center;
}

.company-box{
    width: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workwith{
    grid-area: workwith;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 1em 1em 0;
    position: relative;
}

.contact-form{
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
    padding: 1em 0em 1em 1em;
}

.contact-form > h5{
    width: 80%;
}

.contact-form input, .contact-form textarea{
    width: 80%;
    padding: 1em;
    color: var(--ghost-white);
    outline: unset;
    border: unset;
    border-radius: 0.2em;
    background-color: #a57d4e;
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
    color: var(--ghost-white);

}