.stats__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}
.detail{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.stats-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--light-main-color);
    padding: 1em;
    gap: 1em;
}
.stats-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    text-align: center;
}
.stats-image{
    width: 50%;
    height: fit-content;

}

@media (min-width:320px) and (max-width: 768px){ /*Mobile*/
    .stats__container{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 1em;
        gap: 1em;
    }
    .detail, .stats-image{
        width: 100%;
    }
}