section#search{
    position: absolute;
    bottom: 2%;
    padding: 1em;
    background-color: var(--darklategray);
    box-shadow: var(--sketch-box-shadow);
    border-radius: 0.2em;
}

.search__container{
    background-color: var(--dark-jungle-green);
    display: flex;
    gap: 1em;
    padding: 1em;
    justify-content: space-evenly;
    align-items: inherit;
    border-radius: 0.2em;
}

.box{
    display: flex;
    gap: 1em;
    padding: 0.5em 0em 0em 1em;
    width: 25%;
}

.box:not(:nth-child(3)){
    border-right: 1px solid var(--ghost-white);
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.label > h5{
    text-transform: initial;
}

.label > p{
    cursor: pointer;
}

.search{
    align-self: center;
    width: 30%;
    height: fit-content;
    display: flex;
    gap: 0.8em;
}

.search-bar{
    width: 80%;
    border: none;
    outline: none;
    color: var(--darklategray);
    padding: 1em;
    text-indent: 1em;
    border-radius: 0.2em;
}

.search-bar::placeholder{
    color: var(--darklategray);
}

.search-icon{
    cursor: pointer;
    margin: auto;
    border-radius: 0.2em;
    padding: 0.8em; 
    align-self: center;
    height: 100%;
    background-image: var(--button-gradien);
    background-size: 200% auto;
}

.search-icon:hover{
    background-position: right center;

}

@media (min-width:320px) and (max-width: 425px){ /*Mobile*/
    section#search{
        padding: 0.5em;
    }
    .search__container{
        bottom: 15em;
    }
    .search{
        width: 100%;
    }
    .box:not(:last-of-type){
        display: none;
    }
}
@media (min-width: 425px) and (max-width: 550px){ /*Some Mobile/Tablet*/
    section#search{
        padding: 0.5em;
    }
    .search__container{
        bottom: 15em;
    }
    .search{
        width: 100%;
    }
    .box:not(:last-of-type){
        display: none;
    }
}
@media screen and (min-width: 550px) and (max-width:768px){ /*Tablet*/
    section#search{
        padding: 0.5em;
        position: relative;
        width: 100%;
    }
    .search__container{
        justify-items: start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em 1em;
    }
    .box{
        width: 100%;
    }
    .search{
        width: 100%;
        justify-content: center;
        gap: 1em;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .search-icon{
        margin: 0;
    }
    .box:not(:nth-child(3)){
        border-right: unset;
    }
    .label{
        gap: 0.5em;
    }
}