section#search{
    width: 100%;
    background-color: var(--darklategray);
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1em;
    border-radius: 0.2em;
    box-shadow: var(--sketch-box-shadow);
}

.search__container{
    background-color: var(--darklatesgray);
    display: flex;
    gap: 1em;
    padding: 1em;
    justify-content: space-evenly;
    border-radius: 0.2em;
}

.box{
    display: flex;
    gap: 0.5em;
    padding: 0em 0em 0em 1em;
    width: 25%;
}

.box:not(:nth-child(1)){
    border-left: 1px solid var(--ghost-white);
}

svg.icon:not(.search-icon){
    font-size: 1.5em;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.label > h5{
    text-transform: initial;
}

.label > p{
    cursor: pointer;
}

.search{
    align-self: center;
    width: 30%;
    height: fit-content;
    display: flex;
    gap: 0.8em;
}

.search-bar{
    width: 80%;
    border: none;
    outline: none;
    color: var(--darklategray);
    padding: 1em;
    text-indent: 1em;
    border-radius: 0.2em;
}

.search-bar::placeholder{
    color: var(--darklategray);
}

.search-icon{
    cursor: pointer;
    margin: auto;
    border-radius: 0.2em;
    padding: 0.8em; 
    align-self: center;
    height: 100%;
    background-image: var(--button-gradien);
    background-size: 200% auto;
}

.search-icon:hover{
    background-position: right center;

}

@media (min-width:320px) and (max-width: 550px){ /* Some Mobile or Tablet*/
    section#search{
        padding: 0.5em;
    }
    .search__container{
        bottom: 15em;
    }
    .box:not(:last-of-type){
        display: none;
    }
    .search{
        width: 100%;
    }
}
@media screen and (min-width: 550px) and (max-width:1150px){ /*Some Tablet or Laptop*/
    section#search{
        padding: 0.5em;
        position: relative;
        width: 100%;
    }
    .search__container{
        justify-items: start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em 1em;
    }
    .box{
        width: 100%;
    }
    .search{
        width: 100%;
        justify-content: center;
        gap: 1em;
        grid-column-start: span 3;
    }
    .search-icon{
        margin: unset;
    }
    .box:not(:nth-child(1)){
        border-left: unset;
    }
    .label{
        gap: 0.5em;
    }
}
@media screen and (min-width: 1600px) { /*4K*/
    .search__container{
        gap: 2em;
        padding: 2em;
    }
    .box{
        gap: 1em;
    }
    .search-bar{
        padding: 2em;
    }
    svg.icon:not(.search-icon){
        font-size: 2.2em;
    }
    svg.icon.search-icon{
        font-size: 1.55em;
    }
}